@page "/editgame"
@page "/editgame/{id:int}"
@inject IGameService GameService
@rendermode InteractiveWebAssembly


@if (Id == null)
{
    <h3>Create Game</h3>
}
else
{
    <h3>Edit @Game.Name</h3>
}



<EditForm Model="@Game" FormName="frmEditGame" OnSubmit="HandleSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="idName" class="form-label">Name</label>
        <div>
            <InputText id="idName" class="form-control" @bind-Value="@Game.Name" placeholder="Name..." />
            <ValidationMessage For="@(() => Game.Name)" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Add Game</button>
</EditForm>


@code {
    [SupplyParameterFromForm]
    protected Game Game { get; set; } = new Game { Name = string.Empty };

    [Parameter]
    public int? Id { get; set; }

    protected async Task HandleSubmitAsync()
    {
        await GameService.AddGameAsync(Game);

    }

    protected override async Task OnParametersSetAsync() 
        => Game = await GameService.GetGameById(Id.Value);

}