@page "/games"
@inject IGameService GameService
@attribute [StreamRendering(true)]


<h3>GameList</h3>

@if (Games == null)
{
    <span>Loading games...</span>
}
else if (Games.Count == 0)
{
    <span>No games found.</span>
}
else
{
    <ul>
        @foreach (var game in Games)
        {
            <li>@game.Name</li>
        }
    </ul>
}

<CreateGameButton />


@code {
    @inject NavigationManager NavigationManager

    protected List<Game> Games = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
        Games = await GameService.GetAllGamesAsync();
    }



}